@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .p {
        font-size: large;
        margin: inherit;
    }

    button {
        border-radius: 7px;
    }

    .edit,
    .dropbtn {
        background-color: #4E6C50;
        color: white;
        font-size: 16px;
        border: none;
        padding: 10px;
        padding-bottom: 10px;
        border-radius: 7px;
        max-height: 41px;
    }

    .dropbtn {
        margin-bottom: 4px
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 165px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 7px;
        overflow: hidden;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .profile-info p {
        font-size: 24px;
    }

    .edit {
        margin-right: 10px;
    }
</style>
<h1 class="py-3">Admin Panel</h1>
<h2>Quản lý</h2>
<div class="container" style="display: flex; padding-bottom: 10px; margin-right: 20px">
    <a href="@Url.Action("ProductsManagement", "AdminPanel")" class="no-select edit">Quản lý sản phẩm</a>
    <a href="@Url.Action("CategoryManagement", "AdminPanel")" class="no-select edit">Danh mục</a>
    <a href="@Url.Action("CustomersManagement", "AdminPanel")" class="no-select edit">Quản lý khách hàng</a>
    <a href="@Url.Action("OrdersManagement", "AdminPanel")" class="no-select edit">Quản lý đơn hàng</a>
</div>

<h2>Thống kê</h2>
<div class="card-deck mb-3 text-center">
    <!-- Total revenue card -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Tổng doanh thu</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@ViewBag.totalSales <small class="text-muted">đ</small></h1>
        </div>
    </div>
    <!-- Total orders card -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Tổng đơn hàng</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@ViewBag.TotalOrders <small class="text-muted"></small></h1>
        </div>
    </div>
    <!-- Waiting for confirmation orders card -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Chờ xác nhận</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@ViewBag.WaitingForConfirmationOrders <small class="text-muted"></small></h1>
        </div>
    </div>
    <!-- On delivery orders card -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Đang giao hàng</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@ViewBag.OnDeliveryOrders <small class="text-muted"></small></h1>
        </div>
    </div>
    <!-- Completed orders card -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Đơn hàng đã hoàn thành</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@ViewBag.CompletedOrders <small class="text-muted"></small></h1>
        </div>
    </div>
</div>

