
<!DOCTYPE html>
<html>
<body>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/_Layout.js")
    @RenderSection("JavaScript", false)
    @RenderBody()
</body>
</html>
