@model WebApplication1.Models.Order

@{
    ViewBag.Title = "DeleteOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteOrder</h2>

<h3>Bạn có chắc là muốn xóa đơn hàng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverPhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverPhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMoney)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
